*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
::selection {
    background:#FFB400;
    color:#fff;
}
.bosluk{
    height: 70px;
    width: 100%;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #111111;
    position: static;
    cursor: none;
  
    
}
.separator{
    border-top: 1px solid #DDDDDD;
    margin: 70px auto 55px;
    max-width: 40%;
}
#cursor{
    position: fixed;
    box-sizing: border-box;
    transition: 0.01s;
    transform: translate(0%,0%);
    border-radius:50% ;
    pointer-events: none;
    z-index: 1800;
    box-shadow: 0px 0px 20px #FFB400;
    color: #FFB400;
    font-size: 5px;
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    background-color: #f2d79a;

    
}
.yellow{
    background-color: #FFB400;
    clip-path: polygon(0 0, 20% 0, 90% 100%, 0 100%);
    width: 30%;
    height: 100%;
    position: absolute;
    z-index: 1;

}
.yellow-text{
    color: #FFB400;
    font-weight: bold;
}
.contents{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 2;
    padding: 20px;

}
.contents-alt{
    width: 100%;
    height: 95vh;
    display: flex;
    padding: 20px;
}
.left{
    width: 40%;
    height: auto;
}
.right{
    width: 100%;
    height: auto;
    display: flex;
    
}
.img{
    width: 90%;
    height: calc(100vh - 80px);
    border-radius: 30px;
    box-shadow: 0 0 7px rgb(0 0 0 / 90%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;

}
.text{
    width: 100%;
    height: calc(100vh - 80px);
    display: block;
    align-items: center;
    justify-content: center;
}
.text-alt{
    width: 100%;
    height: auto;
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    text-align: left;
}

.button{
    padding: 20px;
    background-color: transparent;
    border: 1px solid #FFB400;
    font-weight: bold;
    border-radius: 20px 10px;
    position: relative;
    transition: background-color 0.4s linear;
    margin: 30px 0 0 0;
}
.button:hover{
    background-color:#FFB400;
}
.button::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px 10px;
    background: #FFB400;
    z-index:-1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}
.btn-1::before{
    transform: scaleY(0);
}
.btn-1:hover::before{
    transform: scaleY(1);
}
.nav{
    width: auto;
    display: flex;
    margin:0 50px 0 0
}
.nav-alt{
    width: auto;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1700;
    


}

.nav-alt-alt ol{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav-alt-alt ol li a{

    display: block;
    color: #DDDDDD;
    background-color: #2B2A2A;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin:20px 0 0 0;
    padding: 15px;
    transition: 0.5s;

}
.nav-alt-alt ol li a:hover{
    background-color:#FFB400;
}
/*about*/
.title-top{
    position: relative;
    width: 100%;
    margin: 100px 0 0 0;

    height: 100px;

}
.one-title{
    position: relative;
    text-align: center;
    width: 100%;
    color: #FFFFFF;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;

}
.one-title h1{
    position: absolute;
    z-index: 2;
    font-weight:900;
    margin:30px 0 0 0;
    font-family: 'Kanit', sans-serif;
    font-size: 70px;

}
.one-title span{
    color: #FFB912;
}
.two-title{
    position: relative;
    text-align: center;
    width: 100%;
    font-family: Poppins,sans-serif;
    font-weight: bold;
    color: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.two-title h1{
    position: absolute;
    font-size: 150px;
    z-index: 1;
    font-weight:900;
    font-family: 'Kanit', sans-serif;


}


.container{
    position:relative;
    display: flex;
    

}
.about{
    display: flex;
    font-weight:bold;
    flex-wrap: wrap;
background-color: red;
    width: 50%;
    
}
.personel-title{
    margin: 0 0 25px 0;
}
.flex{
margin:0 0px 0 0;
width: 100%;

}
.personel{
    width: 50%;
    height: auto;
    background-color: blue;
    flex-wrap:nowrap;

}
.personel-title h3{
    font-weight:700;
}
.flex span{
    color: #FEFEFE;
}
.flex p{
    color:gray
    ;
}
.icon{
    margin:0 0 0 10px;
    color: #FEFEFE;
    background-color: #FFB400;
    color: #DDDDDD;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 15px;
    border-radius: 50%;
    display: flex;
}


.kutu{
    border:1px solid #252525;
    height: 150px;
    padding: 20px;
    width: 150px;
    margin: 20px;
    border-radius: 7px;
    line-height:2;
    background-color: red;
    


}
.row{
    display: flex;
    align-items: center;
    background-color: red;
    width: 100%;
}

.kutu h1{
    color: #FFB400;
    font-weight: bold;
}
.card-header h2{
    font-weight: 700;
}
.auto span{
    font-size: 50px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
    border:10px solid #FFB400;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.ortala{
    display: flex;
    align-items: center;
    justify-content: center;
}
.percent{
    position: relative;
    width: 150px;
    height: 150px;

    
}
.deneme{
    padding: 0px 50px;
}
.percent svg{
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}
.percent svg circle{ 
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 10;
    stroke: #252525;
    transform: translate(5px,5px);
}
.percent svg circle:nth-child(2){
    stroke:var(--clr) ;
    stroke-dasharray: 440;
    stroke-dashoffset:calc(440 - (440 * var(--num))/100);
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
}

.number{
    position:absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
}
.number h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 700;
    font-size:1.5em;


}
.number p{
    font-weight: 300;
    color: #fff;
    font-size:0.7em;
    letter-spacing:2px ;
    text-transform: uppercase;
    color:rgba(255 255 255 0 75) ;
   

}

/*EXPERİENCE*/

.experience{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.experience-alt{
    width: 80%;
    margin: auto;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
}
.experience-alt-float{
    width: 50%;
    height: 200px;
    padding: 20px;
}
.icerik{
    width: 100%;
    height: auto;
    display: flex;
}
.icerik-left{
    height: 160px;
    display: block;
    margin: 0 10px 0 0;

}
.icerik-left .altcizgi{
   
   display: flex;
   align-items: center;
   justify-content: center;
}

.icerik-left i{
    padding: 10px;
    display: flex;
    border-radius: 50%;
    background-color: #FFB400;
    font-size: 20px;
}
.icerik-right{
    height: auto;
    display: block;
}
.icerik-right span{
    color: #fff;
    font-size: 12px;
    padding: 1px 10px;
    display: inline-block;
    margin-bottom: 12px;
    border-radius: 20px;
    font-weight: 600;
    background-color: #252525;
    opacity: .8;
}
.icerik-right h4{
    font-size: 17px;
    font-weight: 600;
}
.icerik-right b{
    font-weight: 400;
}
.container-contact{
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.contact-text{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    

}
.contact-icerik{
    width: 25%;
   
    padding: 10px;
    height: 100%;
    border-radius: 5px;
    

}
.contact-icerik-size{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 5px;
    background-color: #252525;
    color: #FFFFFF;
}
.contact-size-image{
    width: 100%;
    height: 250px;
   

}
.contact-size-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    
}
.contact-size-date{
    width: 100%;
    text-align: left;
    padding: 10px;
    border-top: 5px solid #FFB400;
    
    
}
a{
    text-decoration: none;
}
.contact-icerik a:hover .contact-size-text{
    color: #FFB400;
    transition: 0.5s;
  
}

.contact-size-text{
    width: 100%;
    height: auto;
    text-align: left;
    padding: 0px 10px;
    font-weight: 600;
    text-decoration: none;
    font-size: 20px;
}
.contact-size-subtitle{
    width: 100%;
    height: auto;
    text-align: left;
    padding: 10px;
    font-weight: 400;
    text-decoration: none;
    color: #B7B7B7;
}

@media screen and (max-width:1600px){
   
 
    
}


@media screen and (max-width:1400px){
   
    .contact-icerik{
        width: 33.33333333333333%;    
    
    }
    
}
@media screen and (max-width:1200px){
    .container-contact{
        width: 90%;
      
    }

    }
    




@media screen and (max-width:1000px){
    .yellow{
        width: 0%;
    }
    .contents-alt{
        padding: 0px;
    }
    .contents{
        width: 100%;
        height: 100vh;
        position: absolute;
        z-index: 2;
        padding: 0px;

    }
    .contents-alt .nav{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70px;
        position:fixed;
        left: 0;
        bottom: 0px;
        background-color: rgb(58, 58, 58);
        margin: 0px;

    }
    .container-contact{
        padding: 20px;
     }

    .nav-alt{
        width: 100%;
        display:block;
        height: auto;
        margin: 0px;

    
    }
    .nav-alt-alt ol{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin: 0px;
    }

    .nav-alt-alt ol li a{
        color: #DDDDDD;
        background-color: #2B2A2A;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        transition: 0.5s;
        border-radius: 50%;
        padding: 15px;
        display: flex;
        font-size: 20px;
        margin: 0px;
      
       
    }
    

}
@media screen and (max-width:900px){
    .contact-icerik{
        width: 50%;    
    
    }
    .container-contact{
        width: 100%;
        margin: 0;
      
    }
}
@media screen and (max-width:700px){
    
    .contact-text{
        width: 100%;
        position: relative;
        order: 2;
        margin:20px 0 0 0
    }
    
  
    .buyuk-baslik{
        font-size:24px
    }
    .kucuk-baslik{
        font-size:22px;
    }
    .contents-alt{
        width: 100%;
        height: 100vh;
        display: block;
        padding: 0px;
        margin:10px 0 0 0

    }

    .button{
        margin:15px 0 0 0;
    }
    .two-title h1{
        position: absolute;
        font-size: 150px;
        z-index: 1;
        font-weight:900;
        font-family: 'Kanit', sans-serif;
        display: none;
    
    
    }
    .title-top{
        position: relative;
        width: 100%;
        margin: 0px 0 0 0;
    
        height: 80px;
    
    }
    .personel{
        width: 100%;
        display: flex;
        height: auto;
        flex-wrap: wrap;
    
    }
    
    .one-title h1{
  
        font-size: 50px;
    
    }
    .flex{
        margin:0 20px 0 0;
        width: 100%;


    }
    .flex p span{
        display: block;
    }
    
    .contents{
        width: 100%;
        height: 100vh;
        position: absolute;
        z-index: 2;
        padding: 0px;

    }
    .container{
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin:20px 20px auto;
    }
.separator{
        border-top: 1px solid #DDDDDD;
        margin: 20px auto 55px;
        max-width: 40%;
    }
    .percent{
     margin: 0 5px 0 5px;
     width: 100%;
     height: 100%;
    
        
    }
    .contents{
        margin: 0px;
        height: 0px;
    }
    .title-top {
        position: relative;
        width: 100%;
        margin: 20px 0 0 0;
        height: 80px;
    }
    
    
}
    


@media screen and (max-width:460px){
    .button{
        margin:5px 0 0 0;
    }
    #cursor{

        display: none;

        
    }
    .title-top{
        position: relative;
        width: 100%;
        margin: 20px 0 0 0;
    
        height: 50px;
    
    }
    .container-contact{
        padding: 10px;
    }
    .contact-icerik{
        width: 100%;    
    
    }
    .contact-text{
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0px;
        justify-content: center;
        
    
    }
 
    .img{
        width: 250px;
        height: 250px;
        border-radius: 50%;
        box-shadow: 0 0 7px rgb(0 0 0 / 90%);
        border:2px solid rgb(58, 58, 58)
    
    }
    .altyazi{
        width: 100%;
        margin-top:30px;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }
     
    .one-title h1{
  
        font-size: 35px;
    
    }
    .one-title{

        justify-content:flex-start;
        margin: 0 0 0 20px;
    
    }
    .flex p span{
        font-size: 14px;
    }
    .flex p {
        font-size: 14px;
    }
    .text-center{
        font-size: 20px;
    }
    
}
